notices.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="notices">
        <xs:annotation>
            <xs:documentation>NOTE: date formats are yyyy-mm-dd</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="notice" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="english"/>
                                        <xs:element type="xs:string" name="french"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="text">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="english"/>
                                        <xs:element type="xs:string" name="french"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:date" name="display-date"/>
                            <xs:element type="xs:date" name="effective-date"/>
                            <xs:element type="xs:date" name="expiry-date"/>
                            <xs:element type="xs:date" name="date-created"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>